<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <ul class="nav" style="background-color: #e3f2fd;">
      <li class="nav-item">
        <a class="nav-link active" href="{% url "classes" %}">На главную</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url "class_info" letter=class_letter year=class_year %}">К классу</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url "schedule" year=class_year letter=class_letter %}">К расписанию</a>
      </li>
    </ul>
    <div class="container">
      <h2 class="mt-2 mb-4">Журнал {{class_year}}{{class_letter}} класса по предмету «{{subject.title}}»</h2>
      <div class="text-center">
        <a href="{% url "journal" letter=class_letter year=class_year subject_id=subject.id%}?week={{previous_week.week}}&year={{previous_week.year}}"><== Предыдущая неделя</a>
        <a href="{% url "journal" letter=class_letter year=class_year subject_id=subject.id%}?week={{next_week.week}}&year={{next_week.year}}">Следующая неделя ==></a>
      </div>
      <table class="table table-striped mt-2 mb-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ученик</th>
            {% for day in days %}
              <th scope="col" style="text-align:center;">{{day}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for schoolkid, schoolkid_marks in marks.items %}
            <tr>
              <th scope="row"><a href="{% url 'schoolkid' schoolkid_id=schoolkid.id %}">{{ schoolkid.full_name}}</a></th>
              {% for day, marks in schoolkid_marks.items %}
                  <td style="text-align:center;">{% for mark in marks %}{{mark.points}} {%endfor%}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="text-center">
        <a href="{% url "journal" letter=class_letter year=class_year subject_id=subject.id%}?week={{previous_week.week}}&year={{previous_week.year}}"><== Предыдущая неделя</a>
        <a href="{% url "journal" letter=class_letter year=class_year subject_id=subject.id%}?week={{next_week.week}}&year={{next_week.year}}">Следующая неделя ==></a>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>